section#about
    h1="About"
    div#bio
        img.me(src='/assets/images/me.jpg')
        p="I'm the Front-End Developer for EyeCue Lab in Portland, OR. I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences. Let's make something special."
