html
    head
        link(rel="stylesheet" type="text/css" href="assets/styles/app.css")
    body
        header
            h1= "Ladislav Čepek"
        main
            include about.pug
            include projects.pug